.text-style {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: 400;
    align-items: center;
    color: #666666;
}
.trip-date {
    height: 100%;
    width: 193px;
    border-width: 0px;
}

.time-radio {
    height: 22px;
    width: 22px;
    margin: 0px;
    accent-color: #448899;
}

.content {
    display: flex;
    visibility: hidden; /* 隱藏占空間，display:hidden 隱藏不占空間*/
    justify-content: center;
}

.main-content {
    display: flex;
    width: 1200px; 
    flex-direction: column;

}

hr {
    /* stroke-width: 1px; */
    border-color:var(--Gray-300, #E8E8E8);
    width: 100%;
    margin: 50px 0px 30px 0px;
    border: var(--Gray-300, #E8E8E8) 1px solid;
}

.main-content-section {
    display: flex;
    flex: auto;
    width: cal(100%-30px);
    padding: 40px 15px 0px 15px;
    /* background-color: rgb(247, 247, 217); */
    justify-content: space-between;

    @media (max-width:750px) {
        width: 100%;
        padding: 0px;
        flex-wrap: wrap;
    }

}

.main-content-section-info {
    display: flex;
    float: none;
    width: 600px;
    height: 400px;
    /* background-color: rgb(218, 253, 241); */
    flex-direction: column;
    justify-content: space-between;
    
    @media (max-width:1200px) {
        width: 100%;
        padding: 0px 10px 0px 10px;
    }
}

.main-content-section-info-name {
    display: flex;
    flex: none;
    width: 100%;
    min-height: 33px;   
    font-size: 24px;
    align-items: center;
    color: #666666;
    font-weight: 700;
}

.main-content-section-info-category-mrt {
    display: flex;
    flex: none;
    width: 100%;
    height: 33px;
    font-size: 16px;;
    align-items: center;

}

.main-content-section-info-booking-form {
    width: cal(100% - 40px);
    height: 272px;
    border-radius: 5px;
    background: var(--secondary-color-gray-20, #E8E8E8);
    padding: 15px 20px 15px 20px;
}

.main-content-section-info-booking-text {
    height: 100%;
    /* display: flex; */
}

.main-content-section-info-booking-text-time {
    height: 22px;
    display: flex;
    margin-bottom: 15px;
}

.main-content-section-info-booking-text-time-title {
    display: flex;
    flex: none;
    width: 81px;
    height: 100%;
    text-align: center;
    font-weight: 700;
}

.main-content-section-info-booking-text-time-choice {
    display: flex;
    flex: auto;
    height: 100%;
}

.main-content-section-info-booking-text-time-radio {
    display: flex;
    flex: none;
    width: 74px;
    height: 22px;
    padding: 0px 8px 0px 5px;
    justify-content: space-between;
}

.main-content-section-info-booking-text-fee {
    display: flex;
    flex: none;
    height: 22px;
    align-items: center;
    margin-bottom: 15px;
}

.main-content-section-info-booking-text-fee-title {
    display: flex;
    flex: none;
    height: 22px;
    font-weight: 700;
    font-size: 16px;
}

.main-content-section-info-booking-text-fee-text {
    display: flex;
    flex: none;
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.main-content-section-info-booking-button {
    display: flex;
    flex: none;
    color: white;
    font-size: 19px;
    padding: 10px 20px 10px 20px;
    width: 114px;
    height: 16px;
    border-radius: 5px;
    background: var(--primary-color-cyan-70, #489);
    text-align: center;
}

.main-content-profile {
    display: flex;
    flex: none;
    width: calc(100%-20px);
    min-height: 362px; 
    /* background-color: rgb(198, 198, 241); */
    flex-direction: column;
    padding: 10px;
}

.main-content-profile-discription {
    display: flex;
    flex: none;
    width: 100%;
    padding: 10px;

}

.main-content-profile-location {
    display: flex;
    flex: none;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.main-content-profile-transportation {
    display: flex;
    flex: none;
    width: 100%;
    flex-direction: column;
}

.main-content-profile-title {
    display: flex;
    flex: none;
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-weight: 700;
}

.main-content-profile-content {
    display: flex;
    flex: none;
    width: 100%;
}

