.thankyou-content {
    margin-top: 40px;
    width: 1200px;
    margin: 40px auto 0px auto;
    height: 100px;
    @media (max-width:1200px) {
        width:100%
    }
}

.font-text-style {
    color: var(--secondary-color-gray-70, #666);
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;

}

.thankyou-content > div {
    text-align: center;
    
}