<!-- <!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8" />
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css?cache={{time}}"/>
</head>
<body> -->
    <div class="loginModal" id="loginModal">
        <div class="loginFrame">
            <div class="loginBanner"></div>
            <div class="loginContent">
                <div class="loginTitle" id="loginTitle">登入會員帳號</div>
                <div class="loginNameDiv" style="display: none;" id="loginNameDiv">
                    <input class="loginInputText" type="text" placeholder="輸入姓名" id="loginName" required/>
                </div>
                <div class="">
                    <input class="loginInputText" type="text" placeholder="輸入電子信箱" id="loginEmail" required/>
                </div>
                <div class="">
                    <input class="loginInputText" type="password" placeholder="輸入密碼" id="loginPassword" required/>
                </div>
                <div class="loginBtnDiv">
                    <div class="loginBtn" id="loginBtn" value="loginAccount" >登入帳戶</div>
                </div>
                <div class="loginErrorMassge" id="loginErrorMassge"></div>
                <div class="loginMode"><a href="#" id="loginModeLink">還沒有帳戶？點此註冊</a></div>
            </div>
            <div class="closeBtnDiv">
                <div class=""><img class="closeBtnImage" src="/static/image/icon_close.png" id="closeModalBtn" /></div>
            </div>
        </div>
    </div>
<!-- </body>
<script src="/static/js/login.js?cache={{time}}"></script>
</html> -->