<div class="index-main-content-attraction-item">
    <div class="index-main-content-attraction-image">
        <img class="index-main-content-attraction-image-img" src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000987.jpg" />
        <div class="index-main-content-attraction-image-txt">
            <div>平安樓</div>
        </div>
    </div>
    <div class="index-main-content-attraction-text">
        <div class="index-main-content-attraction-text-mrt"><div>忠孝復興</div></div>
        <div class="index-main-content-attraction-text-category"><div>公共藝術</div></div>
    </div>
</div>